@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
      0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

body {
  background-color: black;
}

h1 {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
  font-family: "Damion", cursive;
  text-align: center;
  font-size: 100px;
}

h3 {
  text-align: center;
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  font-family: "Tilt Neon", cursive;
  padding-bottom: 30px;
}

.hero {
  text-align: center;
}

body {
  padding-top: 40px;
}

.col-sm-4.other {
  padding: 20px;
}

.other:after {
  content: "";
  background: rgb(21, 21, 21);
  height: 150px;
  width: 100%;
  display: block;
  border-radius: 4%;
}

.other2 {
  background: #777;
  height: 100%;
}

.btn {
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
    0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;

  color: #fff;
  background-color: #c0729a;
  margin-bottom: 50px;
}

.btn :hover {
  color: #c0729a;
}
